[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
python-dotenv = "*"
psycopg2-binary = "*"
passlib = "*"
argon2-cffi = "*"
uvicorn = "*"
pydantic = {extras = ["email"], version = "*"}
fastutils-hmarcuzzo = "*"
core = {file = "file:../../core"}

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
